jarmods/
localconfigs/
logs/
saves/
patchouli_books/
crash-reports/
schematics/
debug/
usercache.json
usernamecache.json
servers.dat_old
servers.dat
realms_persistence.json
instance.json
enigmatic_persistence.dat
