jarmods/
localconfigs/
logs/
saves/
patchouli_books/
crash-reports/
schematics/
debug/
exports/
screenshots/
usercache.json
usernamecache.json
servers.dat_old
servers.dat
realms_persistence.json
instance.json
enigmatic_persistence.dat
patchouli_data.json
config/fastload.properties
config/jei/world/server/GuildHall_Modded_d5f38a26/bookmarks.ini
config/voicechat/username-cache.json
config/voicechat-client.toml
config/voicechat/username-cache.json
config/voicechat/voicechat-volumes.properties
config/voicechat/username-cache.json
